body {
  font-family: Roboto, sans-serif;
  display: flex;
  margin: 0px;
  flex-direction: column;
  height: 100vh;
}

.header-links {
  background-color: #1f2937;
  color: white;
}

.content-intro {
  background-color: #1f2937;
  color: white;
}

.div-1 {
  background-color: #1f2937;
  flex: 1;
}

.intro-container {
  justify-content: center;
}

.info-text {
  max-width: 120px;
  font-size: 12px;
}
.info-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
}

.image-container {
  display: flex;
  justify-content: space-evenly;
}

.image-1 {
  width: 120px;
  height: 120px;
  border-radius: 15px;
}
.quote {
  display: flex;
  flex: 1;
  background-color: #e5e7eb;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.div-end {
  flex: 1;
}

h1 {
  color: white;
  font-size: 24px;
  margin: 0px;
  padding-top: 24px;
}

h3 {
  font-size: 24px;
  font-weight: 900;
}

header {
  display: flex;
  justify-content: space-around;
}

ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: space-between;
}

li {
  padding: 12px;
}
