body {
  font-family: Roboto, sans-serif;
}

.header-links {
  background-color: #1f2937;
  color: white;
}

.content-intro {
  background-color: #1f2937;
  color: white;
}

.div-1 {
  background-color: #1f2937;
}

.intro-container {
  justify-content: center;
}

.info-text {
  max-width: 100px;
}
.info-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.image-container {
  display: flex;
  justify-content: space-evenly;
}

.image-1 {
  width: 100px;
  height: 100px;
}

h1 {
  color: white;
  font-size: 24px;
  margin: 0px;
  padding-top: 24px;
}

h3 {
  font-size: 24px;
  font-weight: 900;
}

header {
  display: flex;
  justify-content: space-around;
}

body {
  display: flex;
  margin: 0px;
  flex-direction: column;
}

ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: space-between;
}

li {
  padding: 12px;
}
