.header-links {
  font-family: Roboto, sans-serif;
  background-color: #1f2937;
  color: white;
}

.content-intro {
  font-family: Roboto, sans-serif;
  background-color: #1f2937;
  color: white;
}

.div-1 {
  background-color: #1f2937;
}

h1 {
  font-family: Roboto, sans-serif;
  color: white;
  font-size: 24px;
  margin: 0px;
  padding-top: 24px;
}

header {
  display: flex;
  justify-content: space-around;
}

body {
  display: flex;
  margin: 0px;
  flex-direction: column;
}

ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: space-between;
}

li {
  padding: 12px;
}
